.unplug-result {
}

.unplug-result image.ur-thumbnail {
	width: 4.8em;
	height: 2.8em;
	border: 1px black solid;
	margin: 0.2em;
	background: #000000;
}

.unplug-result label.ur-name {
	font-weight: bold;
}

.unplug-result label.ur-protocol,
.unplug-result label.ur-host {
	font-size: 80%;
	color: #008000;
}

.unplug-result label.ur-description {
	font-size: 80%;
}


.unplug-result label.ur-name {
	display: none;
}
.unplug-result image.ur-thumbnail {
	visibility: hidden;
}

.unplug-result:first-child label.ur-name {
	display: block;
}
.unplug-result:first-child image.ur-thumbnail {
	visibility: visible;
}

.unplug-result toolbarbutton {
	visibility: hidden;
	font-size: 80%;
}
.unplug-result:hover toolbarbutton,
.unplug-result:first-child toolbarbutton {
	visibility: visible;
}
.unplug-result:first-child toolbarbutton {
	font-size: 100%;
}

.unplug-result.file-ext-swf,
.unplug-result.certainty-low {
	opacity: 0.5;
}

.unplug-result .menuitem-iconic.config {
	list-style-image: url("chrome://unplug/skin/tango-16/preferences-system.png");
}

.unplug-result .menuitem-iconic.saveas {
	list-style-image: url("chrome://unplug/skin/tango-16/document-save-as.png");
}

.unplug-result .menuitem-iconic.dta {
	list-style-image: url("chrome://dta/skin/common/dta.png");
}

.unplug-result .menuitem-iconic.flashgot {
	list-style-image: url("chrome://flashgot/skin/fg1.png");
}

.unplug-result .menuitem-iconic.unavailable {
	list-style-image: url("chrome://unplug/skin/tango-16/dialog-error.png");
}

.unplug-result .menuitem-iconic.extern {
	list-style-image: url("chrome://unplug/skin/tango-16/applications-system.png");
}

.unplug-result .menuitem-iconic.copyurl {
	list-style-image: url("chrome://unplug/skin/tango-16/edit-copy.png");
}

.unplug-result .menuitem-iconic.open-tab {
	list-style-image: url("chrome://unplug/skin/tango-16/tab-new.png");
}

.unplug-result .menuitem-iconic.open-new {
	list-style-image: url("chrome://unplug/skin/tango-16/window-new.png");
}

.unplug-result .menuitem-iconic.open-over {
	list-style-image: url("chrome://unplug/skin/tango-16/window.png");
}

.unplug-result toolbarbutton > toolbarbutton > label {
	/* this aligns the label on the drop-down buttons correctly (ie: not just on the top) */
	max-height : 1em;
}

#dynamic_results.failed {
	color: #cc0000;
	font-weight: bold;
}

#stop_button {
	list-style-image: url("chrome://unplug/skin/tango-16/process-stop.png");
}

#stop_button[disabled] {
	/* greyscale; brightness + 100% */
	list-style-image: url("chrome://unplug/skin/tango-16/process-stop-disabled.png");
}

vbox.container {
	margin: 0;
	margin-bottom: 1.2em;
	padding: 0;
	border-bottom: 1px #cccccc solid;
}
vbox.container:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}
